.topleft {
  position: relative;
  top: 0px;
  left: 0px;
}

.topright {
  position: absolute;
  top: 0px;
  right: 0px;
  border: 1px solid orange;
}

.vertical {
  position: absolute;
  right: 50%;
  border-right: 5px solid black;
  height: 100px;
}

/* Dashed border */
hr.dashed {
  border-top: 3px dashed #bbb;
}

/* Dotted border */
hr.dotted {
  border-top: 3px dotted #bbb;
}

/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
}

/* Rounded border */
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

/*Post Frame*/
.post_frame {
  position: relative;
  border: 2px solid #bbb;
}

.profile_pic{
  position: absolute;
  right:20px;
  bottom:20px;
}

.post_right{
  position: absolute;
  right:20px;
  top:20px;
}
img {
  object-fit: contain;
}
