<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>insta485</title>
</head>
<body>
    <div class="topleft">
        <a href="/"><img src="/images/insta_logo.png" alt="insta_logo" style="width:100px;height:100px;"></a>
    </div>
    <h1 class="topright">
        <a href="/explore/explore.html"> explore </a>
        <a href="/users/{{logname}}/user.html"> {{logname}} </a>
    </h1>
    <hr class="solid">
    {% for post in posts%}
        <div class="post_frame">
            <a href="/users/{{post.owner}}/user.html"><img src="{{post.owner_img_url}}" alt="{{post.owner}} profile pic"
                                           style="width:100px;height:100px;"></a>
            <a href="/users/{{post.owner}}/user.html"> <b>{{post.owner}}</b></a>
            <div class="post_right">
                <a href="/posts/{{post.postid}}/post.html"> <b> {{post.timestamp}}</b> </a>
            </div>
            <img src="{{post.img_url}}" alt="{{post.owner}} 's post img">
            <p>
                {% if post.likes == 1 %}
                    {{post.likes}} like
                {% else %}
                    {{post.likes}} likes
                {% endif %}
            </p>
            {% for comment in post.comments %}
            <p><a href="/users/{{comment.owner}}/user.html"><b>{{comment.owner}}</b></a> {{comment.text}} </p>
            {% endfor %}
        </div>
    {% endfor %}
</body>
</html>
